body{
    margin : 0px;
    height: 100vh;
    background-color: #061826;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}


h1{
    color:white;
    text-align: center;
    letter-spacing: 4px;
    margin-top: 100px;
}

.container {
    position: relative;
    width: 40%;
    left: 30%;
}


.timer-container{
    color: white;
    padding: 40px;
    font-size: 40px;
}

.btn {
    padding: 40px;
}



.btn-start, .btn-reset{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    padding: 30px;
    border-radius: 100px;
    width: 110px;
    height: 105px;
    font-weight: bold;
    background-color: red;
    color: white;

}

.btn-reset:hover , .btn-start:hover{
    background-color: rgba(100,0,0)
}

.btn-take-note{
    font-family: 'Courier New', Courier, monospace;
    border: none;
    background: white;
    font-size: 15px;
}


.white-sec {
    background-color: white;
    border-radius: 10px;
}

.notes-form{
    padding: 0px;
}

.note-input{
    border: none;
    font-family: 'Courier New', Courier, monospace;
    height: 50px;
    width: 80%;
    margin: 0px;
    border-radius: 10px;
    font-size: 15px;
}

.input::placeholder{
    color: lightgray;
}

.notes-list{
    padding: 0px;
    margin: 0px;
}

.notes-list li{
    list-style-type: none;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.note-title{
    font-size: large;
    width: 470px;
    text-align: left;
}

.note-container{
    display: flex;
}

.notes-list li .fa-trash{
    color: red;
    cursor: pointer;
}



.note-time{
    right: 5%;
    margin-right: 5px;
    width: 130px;
    font-size: 15px;
}